<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%cyan(%d{HH:mm:ss.SSS}) %gray([%thread]) %highlight(%-5level) %magenta(%logger{36}) - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.github.dockerjava" level="warn"/>
    <logger name="org.testcontainers" level="info"/>
    <logger name="org.testcontainers.shaded.com.github.dockerjava" level="warn"/>
    <logger name="io.micronaut" level="info"/>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
